.consult__wrap {
    width: 100%;
    height: 530px;
    background: #FFFFFF;
    background-image: url(../img/consult.bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 7px solid #E7E7E7;
    border-radius: 36px;
}

.consult__wrap--text {
    @include adaptiv-padding(65, 20);
    max-width: 750px;
}

.consult__btn {}

.consult__car {}