// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1410;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint1200: 1199.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;
$breakpoint360: 359.98+px;
// Colors
$mainColor: #242424;
$black: #000;
$white: #fff;
$red: #FA002C;
// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: $red;
$burgerActiveColor: $red;
// Fonts
$fontMain: 'Montserrat';
$fontSecondary: '';